@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400&display=swap');


*{ margin: 0px; padding: 0px;}

body{ margin: 0px; padding: 0px; color: blanchedalmond; font-family: Arial, Helvetica, sans-serif; background-image: url("proj01/imagens/praia-e-mar.jpg");
    background-size:cover; background-repeat: no-repeat; background-attachment: fixed; background-position: right center;}

header { background-color: #3a3d3d; color: white; background-image: url("proj01/imagens/folhas-de-palmeira-sombra-em-um-bege.jpg");
background-size:cover; background-repeat: no-repeat; background-attachment: fixed;padding-bottom: 1%;
box-shadow: 0px 0px 2px black;}

header h1 { color: aliceblue; text-align: right; margin-right: 10%; color: #bb5d19;
     font-family:'Dancing Script',Arial, Helvetica, sans-serif; padding: 15px; font-size: 2.5em; text-shadow: 1px 1px 1px #9b9b9b77; }

nav { }     

nav ul { list-style-type: none; text-align: center;}

nav li { display: inline-block; margin-right: 20px; color: #8b4513; font-weight: bolder; }

main { background-color: white; color: black; max-width: 850px; min-width: 320px;
margin: 4% auto 0px; border-radius: 20px;}

article h2 { background-color: rgba(0, 0, 0, 0.582); color: white; font-family: Arial, Helvetica, sans-serif;
text-align: center; border-radius: 20px;}

article.recep { background-image: url("proj01/imagens/InterContinental-Lisbon-5-Star-Hotel-Reception.jpg");
     background-size:cover; background-repeat: no-repeat; background-attachment: scroll; background-position: center center
     ; display: block; height: 650px; border-radius: 20px;}

    div p { background-color: rgba(0, 0, 0, 0.582); color: white; position: absolute; max-width: 300px;
         min-width: 200px; display: block; margin-left: 30px; margin-top: 150px; padding: 15px; border-radius: 20px;
         text-align: justify;}


footer { background-color: #3a3d3d; color: white; background-image: url('proj01/imagens/1000_F_31905252_NODxdDk5SnwdwtJHgIl6Pi6aJ93QxwZA.jpg'); background-repeat: no-repeat ; 
     background-size: cover; background-attachment: fixed; ; height: 100px;}
