@charset "UTF-8";

*{font-family:sans-serif}

body{  background-image: linear-gradient(to bottom,#556429,white); background-attachment: fixed;}

main{background-color: white;
border-radius: 10px;
width: 600px;
box-shadow: 5px 5px 20px #44803f8a;
padding: 10px;
margin:auto;
text-decoration-color:#146152;


}

h1{color: #556429;}

