*{ font-size: 2em; color: white; font-family: Arial, Helvetica, sans-serif;}


@media screen and (orientation: portrait) {

    body { height: 100vh; background-image: url("../img/portrait.jpg"); background-repeat: no-repeat; background-size: contain; background-position: center center;}
    
}

@media screen and (orientation: landscape) {

    body { height: 100vh; background-image: url("../img/landspace.jpg"); background-size: cover; background-repeat: no-repeat;}
    
}