@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/**font-family: 'Dancing Script', cursive;   #3f46ac      #44735E    #d8df75   - #a4ac36; #a1a1a1  **/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/**font-family: 'Montserrat', sans-serif;**/

:root { 
    --cor0:#44735E;

}


body{ margin: 0px; background-color:#3a6a92 ;}

header {background-image: linear-gradient(to bottom,#e65f5f,#be3d3d); padding: 10px; margin: 0px;min-width: 300px; }

header > h1 { font-family:'Dancing Script', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top: 10px;
font-size: 3em; text-align: center; color: #ebe707; margin: 0px; text-shadow: 3px 3px 3px rgb(184, 184, 184); }

header > h5 { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center;color: #bebebe; margin: 0px; text-shadow: 1px 1px 1px #adadad88;}

nav{ padding-top: 30px ;  text-align: center;}

button { background-color:#44735E; border: 2px solid #a5a5a5;
    padding: 3px 8px; text-align: center; font-size: 16px; font-weight: bold; cursor: pointer;
    ; color: #ffffff; margin-left: 10px; border-radius: 4px;}


    button:hover { background-color: #b6be3d; color: #44735E; transition-duration: 1s;} 

main{ background-color: white; min-width: 300px; max-width: 800px; 
    margin: 10px auto 0px; padding: 20px; border-radius: 25px 10px; padding-top: 25px;}

    
main > h2 { font-family:'Montserrat', sans-serif; text-align: left;}

main> p { text-align: justify; font-family: sans-serif; text-indent: 30px; margin: 15px 0px; line-height: 1.5em; font-size: 1em;}


strong{ font-weight: bolder; color: #3d3fbe;}

footer { margin:20px auto 10px; background-color: #be3d3d; text-align: center; color: #ffffff; padding: 3px; font-size: 0.8em;}






























/**



body{ background-color: #78d47c;width: auto; }

header > h1 {color: #08e913; text-align: center; text-shadow:-6px -3px 5px black; padding-top: 20px; font-size:70px;}

header > p { margin: -60px auto 20px; color:#78d47c; text-align: center; text-shadow:-2px -1px 3px black ;}

nav{ padding: 15px;}

sub{ text-align: center; margin: 0 30px 5px 20px; font-size: large; color: #08e913; text-shadow:-2px -1px 3px #000000 }

header{font-family: 'Tektur', cursive, sans-serif; margin:0px auto; text-align: center;
    background-image: linear-gradient( -80deg,  #b4b4b4, #098ce4);border: 10px solid #666666; display: block;}


main{  background-color: white;  margin: 40px auto; ; border-radius: 20px;}

article > h2 { font-family: 'Merriweather', serif; font-size: 70px; padding-left: 30px;}

article.ast { border: 20px solid #78d47c;border-radius: 20px; }

article.herm{  border: 10px solid #78d47c; border-radius: 20px;}

p.texhe{ text-align: justify; margin: 30px;}  */ 