@font-face {
    font-family: 'Mcdonu2' ;
    src: url('../fonts/Sticky\ Sans.otf');
}

@font-face {
    font-family: 'Mcdonu1' ;
    src: url('../fonts/PWYummyDonuts.ttf');
}

@font-face {
    font-family: 'Mcdonu' ;
    src: url('../fonts/McDonutsDemoRegular.ttf');
}

@font-face {
    font-family: 'Wedges';
    src: url("../fonts/Wedges.ttf"); 
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300&family=Fredoka:wght@300;400;500&display=swap');


:root { --cor0: #F9E6ED;
        --cor1: #F27AA8;
        --cor2: #FF576B;
        --font1:'Wedges';
        --font2:'DM Sans', sans-serif;
        --font3:'Fredoka', sans-serif;}

* { margin: 0; padding: 0;}

.heade {  text-align: center; margin-top: -50px;  margin-left: 25%;}

ul { list-style-type: none; margin-left: 8%;;}

li{ display: inline-block; font-family:'Mcdonu2', sans-serif; padding-right: 2%; font-weight: bolder; font-size: 1.5em;}

nav a { color: #6d2d2d; text-decoration: none;} 

nav a:hover { color: #f03a4f; text-decoration: underline; transition: 1s;}

body { background-image: linear-gradient(to bottom,#F9E6ED,#F9E6ED,#F9E6ED,#F9E6ED,#F9E6ED ,#FFB4B6,#FFB4B6); height:100%;}

.heade > img { text-align: right;}

.logo1 { padding: 1% 0% 0% 10%;}

.icones { padding-left: 3%;}

header {box-shadow: 0px 5px 2px #ff576bef ; padding-bottom: .5%; position: relative; background-image: url("../imagens/bkk.jpg"); background-size: contain;}

.t2 { padding-left: 5%; margin-top: -20px; font-family: 'Mcdonu2'; font-size: 2.5em; color: #6d2d2d;}

.t3 { padding-left: 5%; padding-top: 1%; margin-bottom: 1%; font-family: 'Mcdonu1';  color: #9993D7 ; font-size: 3em;}

.logo00 { margin-bottom: -65px;}

main { margin-top: 3%; position: relative;}

.escolha { padding-left: 2%;}

iframe { width: 700px; height: 350px; position: absolute; top: 0%; left: 37%; border: 8px #FF576B dashed;
box-shadow: inset 2px 2px 2px black; border: 20px solid rgba(121, 114, 114, 0.137) ;}

.uber1 ,.uber2 { border-radius: 50%; display: block;}

.uber1 { margin-bottom: 3%;}

.uber1 { position: absolute; left: 93%; top: 10%;}

.uber2 { position: absolute; left: 93%; top: 40%;}

.uber1:hover,.uber2:hover { border: 10px solid #6d2d2d ;}

footer { background-color: #6d2d2d; color: white; text-align: center; padding: 8px; margin-top: 4%; font-size: .8em;}

#sle img { box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555); border: 2px rgba(220, 220, 220, 0.308);border-radius: 30%; margin-right: 1%; margin-bottom: 1%;  }

#sle img:hover { box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555); border: 10px rgba(220, 220, 220, 0.308); transform: translate(-10px, -10px) ; }

.icones img:hover { transform: translate(-5px,-5px);}